Minvu.SectoresMedios/Minvu.SectoresMedios.IData/Service References/ICE_Propiedad_Habitacional/SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComuna.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://minvu/ice/sii" xmlns:s1="http://SII.schemas.Schema_propiedades_habitacionales_conice" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://rutpropiedadescomuna.Schema_rutpropiedadescomuna_rice" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://minvu/ice/sii" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.SII.Process, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2fefa50e9d37f6a1" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://minvu/ice/sii">
      <s:import namespace="http://SII.schemas.Schema_propiedades_habitacionales_conice" />
      <s:import namespace="http://rutpropiedadescomuna.Schema_rutpropiedadescomuna_rice" />
      <s:element name="Propiedades_Habitacionales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Propiedades_habitacionales" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Propiedades_HabitacionalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SII.schemas.Schema_propiedades_habitacionales_conice">
      <s:element name="Propiedades_habitacionales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Dv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Periodo" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Ussist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rutpropiedadescomuna.Schema_rutpropiedadescomuna_rice">
      <s:element name="ICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESULTADO">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ESTADO" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CODIGO" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESCRIPCION" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_RESPUESTA" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPUESTA" type="s2:ArrayOfICEPROPIEDAD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfICEPROPIEDAD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="PROPIEDAD">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESTINO" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COMUNA" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Propiedades_HabitacionalesSoapIn">
    <wsdl:part name="parameters" element="tns:Propiedades_Habitacionales" />
  </wsdl:message>
  <wsdl:message name="Propiedades_HabitacionalesSoapOut">
    <wsdl:part name="parameters" element="tns:Propiedades_HabitacionalesResponse" />
  </wsdl:message>
  <wsdl:portType name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap">
    <wsdl:operation name="Propiedades_Habitacionales">
      <wsdl:input message="tns:Propiedades_HabitacionalesSoapIn" />
      <wsdl:output message="tns:Propiedades_HabitacionalesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap" type="tns:SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Propiedades_Habitacionales">
      <soap:operation soapAction="http://minvu/ice/sii/SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComuna/Propiedades_Habitacionales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap12" type="tns:SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Propiedades_Habitacionales">
      <soap12:operation soapAction="http://minvu/ice/sii/SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComuna/Propiedades_Habitacionales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComuna">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.SII.Process, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2fefa50e9d37f6a1" published web service.</wsdl:documentation>
    <wsdl:port name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap" binding="tns:SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap">
      <soap:address location="http://wsminvune.minvu.cl/Minvu.Sii/SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComuna.asmx" />
    </wsdl:port>
    <wsdl:port name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap12" binding="tns:SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap12">
      <soap12:address location="http://wsminvune.minvu.cl/Minvu.Sii/SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComuna.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>