Minvu.SectoresMedios/Minvu.SectoresMedios.IData/Service References/ICE_Mideplan/fps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FichaProteccionSocial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:Entrada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Entrada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Corte" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Ussist" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Periodo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FichaProteccionSocialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FichaProteccionSocialResult" type="tns:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ICE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ORIGEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RESULTADO" type="tns:ICERESULTADO" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="respuesta" type="tns:ICERespuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERESULTADO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODIGO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_RESPUESTA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="entrada" type="tns:ICERespuestaEntrada" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="status" type="tns:ICERespuestaStatus" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ficha" type="tns:ICERespuestaFicha" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERespuestaEntrada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_cohorte" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERespuestaStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERespuestaFicha">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="folio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ptje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_aplic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_venc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="num_integ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comuna" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_agrup_hab" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_agrup_hab" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_agrup_hab" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_manzana" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_calle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom_calle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="num_domicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="block_casa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="depto_sitio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_vivienda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="piezas_dorm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="num_integ_no_parte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="etnia_original" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ind_chs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="parentesco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_cierre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_puntaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="vivienda" type="tns:ICERespuestaFichaVivienda" />
          <s:element minOccurs="0" maxOccurs="1" name="personas" type="tns:ArrayOfICERespuestaFichaPersonasPersona" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="puntajevivienda" type="tns:ICERespuestaFichapuntajevivienda" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERespuestaFichaVivienda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="distrib_agua" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sis_escretas" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfICERespuestaFichaPersonasPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="persona" type="tns:ICERespuestaFichaPersonasPersona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERespuestaFichaPersonasPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="run" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ape1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ape2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_nac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="parentesco" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ICERespuestaFichapuntajevivienda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ptje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="indalle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="indhaci" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="indtipviv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inddagua" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="indeliexc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestMideplan">
        <s:complexType />
      </s:element>
      <s:element name="TestMideplanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestMideplanResult" type="tns:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test2">
        <s:complexType />
      </s:element>
      <s:element name="Test2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FichaProteccionSocialSoapIn">
    <wsdl:part name="parameters" element="tns:FichaProteccionSocial" />
  </wsdl:message>
  <wsdl:message name="FichaProteccionSocialSoapOut">
    <wsdl:part name="parameters" element="tns:FichaProteccionSocialResponse" />
  </wsdl:message>
  <wsdl:message name="TestMideplanSoapIn">
    <wsdl:part name="parameters" element="tns:TestMideplan" />
  </wsdl:message>
  <wsdl:message name="TestMideplanSoapOut">
    <wsdl:part name="parameters" element="tns:TestMideplanResponse" />
  </wsdl:message>
  <wsdl:message name="Test2SoapIn">
    <wsdl:part name="parameters" element="tns:Test2" />
  </wsdl:message>
  <wsdl:message name="Test2SoapOut">
    <wsdl:part name="parameters" element="tns:Test2Response" />
  </wsdl:message>
  <wsdl:portType name="fpsSoap">
    <wsdl:operation name="FichaProteccionSocial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ficha de Protección Social</wsdl:documentation>
      <wsdl:input message="tns:FichaProteccionSocialSoapIn" />
      <wsdl:output message="tns:FichaProteccionSocialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestMideplan">
      <wsdl:input message="tns:TestMideplanSoapIn" />
      <wsdl:output message="tns:TestMideplanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test2">
      <wsdl:input message="tns:Test2SoapIn" />
      <wsdl:output message="tns:Test2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fpsSoap" type="tns:fpsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FichaProteccionSocial">
      <soap:operation soapAction="http://tempuri.org/FichaProteccionSocial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMideplan">
      <soap:operation soapAction="http://tempuri.org/TestMideplan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test2">
      <soap:operation soapAction="http://tempuri.org/Test2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="fpsSoap12" type="tns:fpsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FichaProteccionSocial">
      <soap12:operation soapAction="http://tempuri.org/FichaProteccionSocial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMideplan">
      <soap12:operation soapAction="http://tempuri.org/TestMideplan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test2">
      <soap12:operation soapAction="http://tempuri.org/Test2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fps">
    <wsdl:port name="fpsSoap" binding="tns:fpsSoap">
      <soap:address location="http://wsminvuni.minvu.cl/WSICEMideplan/FPS/fps.asmx" />
    </wsdl:port>
    <wsdl:port name="fpsSoap12" binding="tns:fpsSoap12">
      <soap12:address location="http://wsminvuni.minvu.cl/WSICEMideplan/FPS/fps.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>