Minvu.SectoresMedios/Minvu.SectoresMedios.IData/Service References/ICE_Ahorro_COOPEUCH_Bloqueo/Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://minvu.cl/ICE/Coopeuch" xmlns:s1="http://Minvu_Coopeuch.schemas.schema_coopeuch_conice_bloqueo" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://Minvu_Coopeuch.schemas.schema_coopeuch_rice_bloqueo" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://minvu.cl/ICE/Coopeuch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.Coopeuch.Process, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2fefa50e9d37f6a1" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://minvu.cl/ICE/Coopeuch">
      <s:import namespace="http://Minvu_Coopeuch.schemas.schema_coopeuch_conice_bloqueo" />
      <s:import namespace="http://Minvu_Coopeuch.schemas.schema_coopeuch_rice_bloqueo" />
      <s:element name="BloqueoSaldo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BloqueoSaldoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Minvu_Coopeuch.schemas.schema_coopeuch_conice_bloqueo">
      <s:element name="ICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Dv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Ussist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Agno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Nllamado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Programa_Habitacional" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Minvu_Coopeuch.schemas.schema_coopeuch_rice_bloqueo">
      <s:element name="ICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESULTADO">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CODIGO" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_RESPUESTA" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESCRIPCION" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ESTADO" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPUESTA">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Cabecera">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Id_msg" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Id_servicio" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IP" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="URL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Fecha" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Hora" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Resultado" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Glosa_error" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Entrada">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Num_cta" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Rut" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Dv_Rut" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Mes" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Usuario" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Sol_correl" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Salida">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="status_cta" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Fecha_apertura" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Reajuste" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Giros_posteriores" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Plazo_orig_meses" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Monto_orig_UF" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Plazo_modificado" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Monto_modificado_UF" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Saldo_UF_mes" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Saldo_UF_dia" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Fecha_inicio" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Saldo">
                          <s:complexType>
                            <s:attribute name="S" type="s:string" />
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BloqueoSaldoSoapIn">
    <wsdl:part name="parameters" element="tns:BloqueoSaldo" />
  </wsdl:message>
  <wsdl:message name="BloqueoSaldoSoapOut">
    <wsdl:part name="parameters" element="tns:BloqueoSaldoResponse" />
  </wsdl:message>
  <wsdl:portType name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap">
    <wsdl:operation name="BloqueoSaldo">
      <wsdl:input message="tns:BloqueoSaldoSoapIn" />
      <wsdl:output message="tns:BloqueoSaldoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap" type="tns:Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BloqueoSaldo">
      <soap:operation soapAction="http://minvu.cl/ICE/Coopeuch/Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueo/BloqueoSaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap12" type="tns:Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BloqueoSaldo">
      <soap12:operation soapAction="http://minvu.cl/ICE/Coopeuch/Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueo/BloqueoSaldo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueo">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.Coopeuch.Process, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2fefa50e9d37f6a1" published web service.</wsdl:documentation>
    <wsdl:port name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap" binding="tns:Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap">
      <soap:address location="http://wsminvune.minvu.cl/Minvu.Coopeuch/Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueo.asmx" />
    </wsdl:port>
    <wsdl:port name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap12" binding="tns:Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap12">
      <soap12:address location="http://wsminvune.minvu.cl/Minvu.Coopeuch/Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>