Minvu.SectoresMedios/Minvu.SectoresMedios.IData/Service References/WSSII_Rol/SII_orc_inf_rol_prt_Datos_Rol.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://minvu/ice/sii" xmlns:s1="http://SII.Schema_datosrol_conice" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://datosrol.Schema_datosrol_rice" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://minvu/ice/sii" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.SII.Process, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2fefa50e9d37f6a1" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://minvu/ice/sii">
      <s:import namespace="http://SII.Schema_datosrol_conice" />
      <s:import namespace="http://datosrol.Schema_datosrol_rice" />
      <s:element name="prt_Inf_rol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:DatosRol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="prt_Inf_rolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SII.Schema_datosrol_conice">
      <s:element name="DatosRol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Comuna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Manzana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Predio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Ussist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://datosrol.Schema_datosrol_rice">
      <s:element name="ICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESULTADO">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ESTADO" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CODIGO" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESCRIPCION" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_RESPUESTA" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPUESTA">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESP_HDR">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ESTADO" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="GLOSA" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESP_BODY">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COMUNA_ACTUAL" type="s:integer" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MANZANA_ACTUAL" type="s:integer" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PREDIO_ACTUAL" type="s:integer" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DIR_PREDIAL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SERIE" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UBICACION" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESTINO_PRINCIPAL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="NUM_MZ_BIEN_COMUN" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="NUM_PRED_BIEN_COMUN" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FEC_INSCRIP_CBR" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TOT_APAGAR" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AVL_TOTAL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AVL_EXENTO" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AGNO_TER_EXC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AGNO_PERIODO" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SEMESTRE" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AGNO_RESOL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="NUM_RESOL" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="prt_Inf_rolSoapIn">
    <wsdl:part name="parameters" element="tns:prt_Inf_rol" />
  </wsdl:message>
  <wsdl:message name="prt_Inf_rolSoapOut">
    <wsdl:part name="parameters" element="tns:prt_Inf_rolResponse" />
  </wsdl:message>
  <wsdl:portType name="SII_orc_inf_rol_prt_Datos_RolSoap">
    <wsdl:operation name="prt_Inf_rol">
      <wsdl:input message="tns:prt_Inf_rolSoapIn" />
      <wsdl:output message="tns:prt_Inf_rolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SII_orc_inf_rol_prt_Datos_RolSoap" type="tns:SII_orc_inf_rol_prt_Datos_RolSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="prt_Inf_rol">
      <soap:operation soapAction="http://minvu/ice/sii/SII_orc_inf_rol_prt_Datos_Rol/prt_Inf_rol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SII_orc_inf_rol_prt_Datos_RolSoap12" type="tns:SII_orc_inf_rol_prt_Datos_RolSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="prt_Inf_rol">
      <soap12:operation soapAction="http://minvu/ice/sii/SII_orc_inf_rol_prt_Datos_Rol/prt_Inf_rol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SII_orc_inf_rol_prt_Datos_Rol">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.SII.Process, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2fefa50e9d37f6a1" published web service.</wsdl:documentation>
    <wsdl:port name="SII_orc_inf_rol_prt_Datos_RolSoap" binding="tns:SII_orc_inf_rol_prt_Datos_RolSoap">
      <soap:address location="http://wsminvune.minvu.cl/Minvu.Sii/SII_orc_inf_rol_prt_Datos_Rol.asmx" />
    </wsdl:port>
    <wsdl:port name="SII_orc_inf_rol_prt_Datos_RolSoap12" binding="tns:SII_orc_inf_rol_prt_Datos_RolSoap12">
      <soap12:address location="http://wsminvune.minvu.cl/Minvu.Sii/SII_orc_inf_rol_prt_Datos_Rol.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>