Minvu.SectoresMedios/Minvu.SectoresMedios.IData/Service References/ICE_Consulta_Serie_Cedula_Identidad/ValidarDocumento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsminvune.test.minvu.cl/WSICERegistroCivil/ValidarDocumento.svc?xsd=xsd2" namespace="http://Minvu.RegistroCivil.Wcf" />
  <xs:element name="EstadoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://Minvu.RegistroCivil.Wcf" minOccurs="0" name="entrada" nillable="true" type="q1:EntradaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://Minvu.RegistroCivil.Wcf" minOccurs="0" name="EstadoDocumentoResult" nillable="true" type="q2:SalidaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>