Minvu.SectoresMedios/Minvu.SectoresMedios.IData/Service References/ICE_Consulta_Serie_Cedula_Identidad/ValidarDocumento3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Minvu.RegistroCivil.Wcf" elementFormDefault="qualified" targetNamespace="http://Minvu.RegistroCivil.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsminvune.test.minvu.cl/WSICERegistroCivil/ValidarDocumento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Minvu.RegistroCivil.Negocio.Cow.RegistroCivil" />
  <xs:complexType name="EntradaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rut" nillable="true" type="tns:RutType" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Minvu.RegistroCivil.Negocio.Cow.RegistroCivil" name="TipoDocumento" type="q1:CodTipoDocumentoType" />
      <xs:element minOccurs="0" name="NumeroSerie" nillable="true" type="xs:string" />
      <xs:element name="Ussist" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntradaType" nillable="true" type="tns:EntradaType" />
  <xs:complexType name="RutType">
    <xs:sequence>
      <xs:element name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="DV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RutType" nillable="true" type="tns:RutType" />
  <xs:complexType name="SalidaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoConsulta" nillable="true" type="tns:EstadoType" />
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="tns:RespuestaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalidaType" nillable="true" type="tns:SalidaType" />
  <xs:complexType name="EstadoType">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoType" nillable="true" type="tns:EstadoType" />
  <xs:complexType name="RespuestaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rut" nillable="true" type="tns:RutType" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="tns:DocumentoType" />
      <xs:element minOccurs="0" name="ClaseDocumento" nillable="true" type="tns:EstadoType" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorVigencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorBloqueo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaType" nillable="true" type="tns:RespuestaType" />
  <xs:complexType name="DocumentoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoType" nillable="true" type="tns:DocumentoType" />
</xs:schema>