Minvu.SectoresMedios/Minvu.SectoresMedios.IData/Service References/ICE_Ahorro_CajaLosAndes/Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_Saldo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://Minvu.CajaLosAndes.Schemas.sch_CajaLosAndesSaldo_conice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://Minvu.CajaLosAndes.Schemas.sch_CajaLosAndesSaldo_rice" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.CajaLosAndes, Version=1.0.0.0, Culture=neutral, PublicKeyToken=713d9b8faf1b7176" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://Minvu.CajaLosAndes.Schemas.sch_CajaLosAndesSaldo_conice" />
      <s:import namespace="http://Minvu.CajaLosAndes.Schemas.sch_CajaLosAndesSaldo_rice" />
      <s:element name="InfoAhorro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoAhorroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:ICE" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Minvu.CajaLosAndes.Schemas.sch_CajaLosAndesSaldo_conice">
      <s:element name="ICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Dv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Ussist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Agno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="NLlamado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Programa_Habitacional" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Minvu.CajaLosAndes.Schemas.sch_CajaLosAndesSaldo_rice">
      <s:element name="ICE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESULTADO">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CODIGO" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_RESPUESTA" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESCRIPCION" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ESTADO" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPUESTA">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Cabecera">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Id_msg" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Id_servicio" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IP" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="URL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Fecha" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Hora" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Resultado" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Glosa_error" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Entrada">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Num_cta" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Rut" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Dv_Rut" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Mes" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Usuario" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Sol_correl" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Salida">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="status_cta" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Fecha_apertura" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Reajuste" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Giros_posteriores" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Plazo_orig_meses" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Monto_orig_UF" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Plazo_modificado" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Monto_modificado_UF" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Saldo_UF_mes" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Saldo_UF_dia" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Fecha_inicio" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Saldo">
                          <s:complexType>
                            <s:simpleContent>
                              <s:extension base="s:string">
                                <s:attribute name="Sa" type="s:string" />
                              </s:extension>
                            </s:simpleContent>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InfoAhorroSoapIn">
    <wsdl:part name="parameters" element="tns:InfoAhorro" />
  </wsdl:message>
  <wsdl:message name="InfoAhorroSoapOut">
    <wsdl:part name="parameters" element="tns:InfoAhorroResponse" />
  </wsdl:message>
  <wsdl:portType name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap">
    <wsdl:operation name="InfoAhorro">
      <wsdl:input message="tns:InfoAhorroSoapIn" />
      <wsdl:output message="tns:InfoAhorroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap" type="tns:Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InfoAhorro">
      <soap:operation soapAction="http://tempuri.org/Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_Saldo/InfoAhorro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap12" type="tns:Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InfoAhorro">
      <soap12:operation soapAction="http://tempuri.org/Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_Saldo/InfoAhorro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_Saldo">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Minvu.CajaLosAndes, Version=1.0.0.0, Culture=neutral, PublicKeyToken=713d9b8faf1b7176" published web service.</wsdl:documentation>
    <wsdl:port name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap" binding="tns:Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap">
      <soap:address location="http://wsminvune.desarrollo.minvu.cl/Minvu.CajaLosAndes/Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_Saldo.asmx" />
    </wsdl:port>
    <wsdl:port name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap12" binding="tns:Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap12">
      <soap12:address location="http://wsminvune.desarrollo.minvu.cl/Minvu.CajaLosAndes/Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_Saldo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>